/* CSS styles */

:root {
    --lightblue: #e2effb;
    --blue: #0c1483;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    grid-area: header;
}

.menu {
    grid-area: menu;
}

.main {
    grid-area: main;

}

.footer {
    grid-area: footer;
}

.oikSivu {
    grid-area: oikSivu;
}

.today {
    grid-area: today;
}

.theme {
    background-color: var(--blue);
    border: none;
    color: var(--lightblue);
    padding: 10px 40px;
    font-size: 10px;
}

.lisatietoa{
    grid-area: lisatietoa;
}

.lisat{
    grid-area:lisat;
}


/* unvisited link */
a:link {
    color: var(--blue);
}

/* visited link */
a:visited {
    color: var(--blue);
}

/* mouse over link */
a:hover {
    color: green;
}

/* selected link */
a:active {
    color: var(--blue);
}


@media (min-width:769px) {

    .container {
        display: grid;
        grid-template-columns: 11em 2fr 1fr;
        grid-template-areas:
            'header header  header'
            'menu main oikSivu'
            'footer footer footer';
        gap: 10px;
        background-color: var(--blue);
        padding: 10px;
        color: var(--blue);
    }

    .container>div {
        background-color: var(--lightblue);
        padding: 20px 0;

    }

    .header {
        text-align: center;
    }

    .menu {
        font-size: 24px;
        line-height: 40px;
    }

    .tickerList {
        list-style-type: none;
        padding-left: 10px;
    }

    .oikSivu {
        display: grid;
        grid-template-areas:
            'kuva'
            'today';
        gap: 10px;
        background-color: var(--blue);
        padding: 10px;
        text-align: center;

    }


    @keyframes fadein {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    img {
        animation-name: fadein;
        animation-duration: 2s;
    }

}

@media (max-width:768px) {
    .container {
        display: grid;
        grid-template-areas:
            'header'
            'menu'
            'main'
            'oikSivu'
            'footer';
        gap: 10px;
        background-color: var(--blue);
        padding: 10px;
        color: var(--blue);

    }

    .header {
        text-align: center;
    }

    .lisat{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-evenly;
        grid-template-areas:
        'theme lisatietoa';       
    }

    .lisatietoa{
        text-align: center;
    }

    .tickerList {
        display: flex;
        list-style-type: none;
        padding-left: 10px;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .tick {
        margin: 5px;
    }

    .oikSivu {
        display: grid;
        grid-template-areas:
            'kuva today';
        gap: 10px;
        background-color: var(--blue);
        padding: 10px;
        color: var(--blue);
    }

    .container>div {
        background-color: var(--lightblue);
        padding: 20px 0;

    }


}